<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sitio web en construcción</title>
	<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/styles/style-dist.css">
	<title>Tienda</title>
</head>
<body>
<div class="coverPage">
	<div class="__coverPage-content">
		<h1>La Flojosa</h1>
		<h2>Recors Store</h2>
		
	<form action="/AppTienda/resultadoCliente/" method="GET">

		<input type="text" name="usuario" id="nombre">
		<input type="submit" value="Buscar">


	</form>
	</div>
</div>
	
</body>
</html>